@page "/"

<PageTitle>F1N4 - Semana FullStack Balta 2024</PageTitle>

<div class="d-flex justify-end">
<MudButton
    Variant="Variant.Filled"
    Color="Color.Primary"
    StartIcon="@Icons.TwoTone.List"
    Href="/categorias">
    CATEGORIAS
</MudButton>
</div>
